<table class="table table-striped table-compact">
  <tbody>
	<tr>
		<td>T. Hank Robinson-Ph.D</td>
		<td>Producer, Research, Design</td>
	</tr>
	<tr>
		<td>Jonah Williams</td>
		<td>Development and Design</td>
	</tr>
	<tr>
		<td>Jenny Liu-Ph.D</td>
		<td>Research and Design</td>
	</tr>
	<tr>
		<td>Byungwoo Shine Cho</td>
		<td>Research and Design</td>
	</tr>
	<tr>
		<td>Mahbubul Majumder-Ph.D</td>
		<td>Design</td>
	</tr>
  </tbody>
</table>