<div class="col-md-8">
<ul>
  <li ng-repeat="peer in params.customPeer track by $index">
      {{peer}}
  </li>
</ul>
</div>

<div class="col-md-4">
  <div class="row">
  <button type="button" class="btn btn-primary" ng-click="uploadPeer()">
       Save
   </button>
 </div>
  <div class="row">
    <h3>Load</h3>
   <input type="text" ng-click="">
  </input>
  </div>
  <div class="row">
    <h3>ID</h3>
    <p>Save this to access peer group again</p>
    <p>{{params.lastId}}</p>
</div>
