<div class="btn-group" dropdown is-open="status.isopenyear">
  <button id="single-button-1" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
    Year<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button-1">
    <li>
      <a ng-click="loadYear(2012)">
        2012
      </a>
    </li>
    <li>
      <a ng-click="loadYear(2013)">
        2013
      </a>
    </li>
  </ul>
</div>