<div class="btn-group dropup" dropdown is-open="status.isopenpeer">
  <button id="single-button-1" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
    Peer Groups<span class="caret"></span>
  </button>
  <ul class="dropdown-menu"
    role="menu" aria-labelledby="single-button-4">
    <li ng-repeat="peer in params.peers">
      <a ng-click="loadPeer(peer.d)">{{peer.n}}</a>
    </li>
  </ul>
</div>
