<div class="btn-group" dropdown is-open="status.isopensum">
  <button id="single-button-1" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
    Peer Index<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button-1">
    <li>
      <a ng-click="params.sortCol = 'schps'">
        SCH per Student
      </a>
    </li>
    <li>
      <a ng-click="params.sortCol = 'grad4'">
        Graduation Rate (4 year)
      </a>
    </li>
    <li>
      <a ng-click="params.sortCol = 'grad6'">
       Graduation Rate (6 year)
      </a>
    </li>
    <li>
      <a ng-click="params.sortCol = 'degpts'">
        Bachelor's Degrees per Thousand Students
      </a>
    </li>
    <li>
      <a ng-click="params.sortCol = 'defrate'">
        Student Loan Default Rate
      </a>
    </li>
  </ul>
</div>